/*!------------------------------------------------------------------
[MAIN STYLESHEET]
PROJECT: Project Name
VERSION: Versoin Number
@import "https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,500,700";

-------------------------------------------------------------------*/

@font-face {
  font-family: bwnistaint-xbd;
  src: url(../fonts/BwNistaInt-xBd.woff) format("woff");
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: 'Cardenio Modern';
  src: url('../fonts/CardenioModern-Regular.eot');
  src: url('../fonts/CardenioModern-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/CardenioModern-Regular.woff2') format('woff2'),
      url('../fonts/CardenioModern-Regular.woff') format('woff'),
      url('../fonts/CardenioModern-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cardenio Modern';
  src: url('../fonts/CardenioModern-Bold.eot');
  src: url('../fonts/CardenioModern-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/CardenioModern-Bold.woff2') format('woff2'),
      url('../fonts/CardenioModern-Bold.woff') format('woff'),
      url('../fonts/CardenioModern-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}




@font-face {
  font-family: 'Hey October';
  src: url('../fonts/HeyOctober.eot');
  src: url('../fonts/HeyOctober.eot?#iefix') format('embedded-opentype'),
      url('../fonts/HeyOctober.woff2') format('woff2'),
      url('../fonts/HeyOctober.woff') format('woff'),
      url('../fonts/HeyOctober.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Hastoler';
	src: url('../fonts/fonts/Hastoler Regular.eot');
	src: local('☺'), url('../fonts/Hastoler Regular.woff') format('woff'), url('../fonts/Hastoler Regular.ttf') format('truetype'), url('../fonts/Hastoler Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


body {
  line-height: 1.2;
  font-family: Hastoler;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: #4c4c4c;
}

p {
  font-weight: 400;
  color: #4c4c4c;
  font-size: 18px;
  line-height: 1.8;
  font-family: Hastoler
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: "Cardenio Modern";
  line-height: 1.2
}

h1,
.h1 {
  line-height: 0.6;
  font-size: 120px
}

@media(max-width:991px) {

  h1,
  .h1 {
    font-size: 65px
  }
}

h2,
.h2 {
  font-size: 80px
}

@media(max-width:991px) {

  h2,
  .h2 {
    font-size: 80px
  }
}

h3,
.h3 {
  font-size: 50px
}

h4,
.h4 {
  font-size: 26px
}

h5,
.h5 {
  font-size: 22px
}

h6,
.h6 {
  font-size: 18px
}

.btn {
  font-size: 22px;
  line-height: 2;
  font-family: Cardenio Modern;
  text-transform: capitalize;
  padding: 16px 44px;
  border-radius: 5px;
  font-weight: 600;
  border: 0;
  position: relative;
  z-index: 1;
  transition: .2s ease
}

.btn:focus {
  outline: 0;
  box-shadow: none !important
}

.btn:active {
  box-shadow: none
}

.btn-sm {
  font-size: 25px;
  padding: 10px 30px
}

.btn-xs {
  padding: 5px 10px;
  font-size: 15px
}

.btn-primary {
  background: var(--primary-color);
  color: #fff
}

.btn-primary.active {
  opacity: .8;
}

.btn-primary:active {
  background: var(--primary-color) !important
}

.btn-primary:hover {
  background: var(--primary-color)
}

.btn-primary.focus,
.btn-primary.active {
  background: var(--primary-color) !important;
  box-shadow: none !important
}

.btn-transparent {
  background: transparent;
  color: var(--primary-color);
  font-weight: 700
}

.btn-transparent:active,
.btn-transparent:hover {
  color: var(--primary-color)
}

body {
  background-color: #fff;
  overflow-x: hidden
}

::selection {
  background: var(--primary-color);
  color: #fff
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center
}

table, th, td {
  border: 1px solid black;
}

ol,
ul {
  margin: 0
}


img {
  max-width: 100%;
  height: auto; 
  vertical-align: middle;
  border: 0
}

a,
a:hover,
a:focus {
  text-decoration: none
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease
}

a:focus,
button:focus,
select:focus {
  outline: 0
}

a.text-dark:hover {
  color: var(--primary-color) !important
}

a:hover {
  color: var(--primary-color)
}

.slick-slide {
  outline: 0
}

.section {
  padding-top: 40px;
  padding-bottom: 80px
}

.section-title {
  margin-bottom: 80px;
  font-family: Hey October
}

.bg-cover {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat
}

.overlay {
  position: relative
}

.overlay::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: .5
}

.outline-0 {
  outline: 0 !important
}

.d-unset {
  display: unset !important
}

.bg-primary {
  background: var(--primary-color) !important
}

.bg-gray {
  background: #eaeaea !important
}

.text-primary {
  color: var(--primary-color) !important
}

.text-color {
  color: #4c4c4c
}

.text-dark {
  color: #000 !important
}

.text-light {
  color: #999 !important
}

.mb-10 {
  margin-bottom: 10px !important
}

.mb-20 {
  margin-bottom: 20px !important
}

.mb-30 {
  margin-bottom: 30px !important
}

.mb-40 {
  margin-bottom: 40px !important
}

.mb-50 {
  margin-bottom: 50px !important
}

.mb-60 {
  margin-bottom: 60px !important
}

.mb-70 {
  margin-bottom: 70px !important
}

.mb-80 {
  margin-bottom: 80px !important
}

.mb-90 {
  margin-bottom: 90px !important
}

.mb-100 {
  margin-bottom: 100px !important
}

.zindex-1 {
  z-index: 1
}

.rounded-lg {
  border-radius: 15px
}

.overflow-hidden {
  overflow: hidden
}

.font-primary {
  font-family: roboto, serif !important
}

.font-secondary {
  font-family: Cardenio Modern !important
}

.font-tertiary {
  font-family: 'Hey October' !important;

}

.shadow {
  box-shadow: 0 18px 39.1px 6.9px rgba(224, 241, 255, .34) !important
}

.bg-dark {
  background-color: #222 !important
}

.icon {
  font-size: 45px
}

.icon-bg {
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center
}

.icon-light {
  color: #c8d5ef
}

.slick-dots {
  text-align: center;
  padding-left: 0
}

.slick-dots li {
  display: inline-block;
  margin: 2px
}

.slick-dots li.slick-active button {
  background: #fff;
  width: 25px
}

.slick-dots li button {
  height: 6px;
  width: 12px;
  background: rgba(255, 255, 255, .5);
  color: transparent;
  border-radius: 10px;
  overflow: hidden;
  transition: .2s ease;
  border: 0
}

.form-control {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #c7c7c7;
  height: 60px
}

.form-control:focus {
  border-color: var(--primary-color);
  outline: 0;
  box-shadow: none !important
}

textarea.form-control {
  height: 120px
}

.card {
  border: 0
}

.card-header {
  border: 0
}

.card-footer {
  border: 0
}

.navigation {
  padding: 10px 80px;
  transition: .3s ease
}

.navigation.nav-bg {
  background-color: var(--primary-color);
  padding: 0px 100px
}

@media(max-width:991px) {
  .navigation.nav-bg {
    padding: 15px 20px
  }
}

@media(max-width:991px) {
  .navigation {
    padding: 0px;
    background: var(--primary-color)
  }
}

.navbar .nav-item .nav-link {
  font-family: Cardenio Modern;
  text-transform: uppercase;
  padding: 15px;
  font-size: 20px
}

.navbar .nav-item.active .nav-link{
border-bottom: #000;  
border-width: 1px;
color: #52f8f4;
font-size:24px;

}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.hero-area {
  padding: 250px 0 200px;
  position: relative
}

@media(max-width:767px) {
  .hero-area {
    padding: 200px 0 150px;
    overflow: hidden
  }
}

.hero-area h1 {
  position: relative;
  z-index: 2
}

.layer {
  position: absolute;
  z-index: 1
}

#l1 {
  bottom: 0;
  left: 0
}

#l2 {
  top: 190px;
  left: -250px
}

#l3 {
  top: 200px;
  left: 40%
}

#l4 {
  top: 200px;
  right: 40%
}

#l5 {
  top: 100px;
  right: -150px
}

#l6 {
  bottom: -20px;
  left: 10%
}

#l7 {
  bottom: 100px;
  left: 20%
}

#l8 {
  bottom: 160px;
  right: 45%
}

#l9 {
  bottom: 100px;
  right: -10px
}

.layer-bg {
  position: absolute;
  bottom: 0;
  left: 0
}

.progress-wrapper {
  height: 130px;
  overflow: hidden
}

.wave {
  position: absolute;
  width: 100%;
  height: 100%
}

.wave::before,
.wave::after {
  content: "";
  position: absolute;
  width: 800px;
  height: 800px;
  bottom: 0;
  left: 50%;
  background-color: rgba(255, 255, 255, .4);
  border-radius: 45%;
  transform: translateX(-50%) rotate(0);
  animation: rotate 6s linear infinite;
  z-index: 10
}

.wave::after {
  border-radius: 47%;
  background-color: rgba(255, 255, 255, .9);
  transform: translateX(-50%) rotate(0);
  animation: rotate 10s linear -5s infinite;
  z-index: 20
}

@keyframes rotate {
  50% {
    transform: translateX(-50%) rotate(180deg)
  }

  100% {
    transform: translateX(-50%) rotate(360deg)
  }
}

.edu-bg-image {
  position: absolute;
  left: 0;
  top: -300px;
  z-index: -1
}

.hover-bg-primary {
  transition: .3s ease
}

.hover-bg-primary:hover {
  background: var(--primary-color)
}

.hover-bg-primary:hover * {
  color: #fff
}

.active-bg-primary {
  transition: .3s ease;
  background: var(--primary-color)
}

.active-bg-primary * {
  color: #fff
}

.hover-shadow {
  transition: .2s ease
}

.hover-shadow:hover {
  box-shadow: 0 18px 40px 8px rgba(224, 241, 255, .54) !important
}

.hover-wrapper {
  overflow: hidden
}

.hover-wrapper img {
  transition: .3s ease;
  transform: scale(1)
}

.hover-wrapper:hover img {
  transform: scale(1.1)
}

.hover-wrapper:hover .hover-overlay {
  opacity: 1;
  visibility: visible
}

.hover-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .3);
  opacity: 0;
  visibility: hidden;
  transition: .3s ease
}

.hover-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center
}

.testimonial-content strong {
  color: #2bfdff;
  font-weight: 400
}

.testimonial-bg-shapes .container {
  position: relative;
  z-index: 1
}

.testimonial-bg-shapes .bg-map {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.testimonial-bg-shapes .bg-shape-1 {
  position: absolute;
  left: 100px;
  top: -50px
}

.testimonial-bg-shapes .bg-shape-2 {
  position: absolute;
  right: 150px;
  top: 50px
}

.testimonial-bg-shapes .bg-shape-3 {
  position: absolute;
  right: 50px;
  top: 200px
}

.testimonial-bg-shapes .bg-shape-4 {
  position: absolute;
  left: 100px;
  bottom: 200px
}

.testimonial-bg-shapes .bg-shape-5 {
  position: absolute;
  right: 200px;
  bottom: -50px
}

.footer-section {
  padding-top: 00px
}

.section-on-footer {
  margin-bottom: -250px
}

.shadow-down {
  position: relative
}

.shadow-down::before {
  position: absolute;
  content: "";
  box-shadow: 0 0 80.75px 14.25px rgba(224, 241, 255, .34);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1
}

.card-lg {
  flex-direction: row-reverse;
  align-items: center
}

@media(max-width:991px) {
  .card-lg {
    flex-direction: column
  }
}

blockquote {
  display: inline-block;
  padding: 10px 20px;
  background: #eaeaea;
  border-left: 2px solid var(--primary-color);
  font-style: italic;
  font-size: 22px
}

.content * {
  margin-bottom: 20px;
  font-family: Hastoler;
  font-size: 18px;

}

.content strong {
  font-family: Hastoler;
  font-size: 22px;
  font-weight: bold;
  color: #000;
  display: inherit;
  line-height: 1.5
}

.page-title-alt {
  padding: 350px 0 70px
}

.border-thick {
  border: 10px solid
}

.drag-lg-top {
  margin-top: -230px
}

@media(max-width:991px) {
  .drag-lg-top {
    margin-top: 0
  }
}

.page-title-alt .container {
  position: relative;
  z-index: 1
}

.page-title-alt .bg-shape-1 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%
}

.page-title-alt .bg-shape-2 {
  position: absolute;
  left: 70px;
  top: 100px
}

.page-title-alt .bg-shape-3 {
  position: absolute;
  left: 30%;
  top: 50px;
  transform: rotate(180deg)
}

.page-title-alt .bg-shape-4 {
  position: absolute;
  left: 100px;
  bottom: 100px
}

.page-title-alt .bg-shape-5 {
  position: absolute;
  left: 40%;
  bottom: -25px
}

.page-title-alt .bg-shape-6 {
  position: absolute;
  bottom: 100px;
  right: -100px
}

.page-title {
  padding: 100px 0 10px
}

.page-title .container {
  position: relative;
  z-index: 1
}

.page-title .bg-shape-1 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%
}

.page-title .bg-shape-2 {
  position: absolute;
  left: -20px;
  top: -10px
}

.page-title .bg-shape-3 {
  position: absolute;
  left: 10%;
  top: 100px
}

.page-title .bg-shape-4 {
  position: absolute;
  left: 50%;
  top: -20px
}

.page-title .bg-shape-5 {
  position: absolute;
  left: 90px;
  bottom: -50px;
  transform: rotate(180deg)
}

.page-title .bg-shape-6 {
  position: absolute;
  right: 20%;
  bottom: -20px
}

.page-title .bg-shape-7 {
  position: absolute;
  right: -220px;
  bottom: -100px
}

.filter-controls li {
  cursor: pointer
}

.filter-controls li.active {
  font-weight: 700
}

.social-icons a{
  height: 100px;
  width: 100px;
  line-height: 100px;
  border-radius: 50%;
  display: block;
  box-shadow:  0 18px 39.1px 6.9px rgba(224,241,255,.34);
  color: #fff;
  background-color: var(--primary-color);
  font-size: 20px;
  text-align: center;
}

.project-meta{
  font-family: Cardenio Modern;
  display: flex;
  align-items: center;
}

.project-meta i{
  height: 70px;
  min-width: 70px;
  line-height: 70px;
  background-color: #fff;
  color: black;
  border-radius: 50%;
  text-align: center;
  display: block;
  font-size: 30px;
}

.project-meta img.icon{
  max-height: 70px;
  max-width: 70px;
  line-height: 70px;
  background-color: #fff;
  color: var(--primary-color);
  text-align: center;
  display: block;
  font-size: 30px;
  margin-top: 20px;
  margin-right: 2px;
  margin-left: 10px;
}

.project-meta h4{
  font-family: Cardenio Modern;
  font-weight: bold;
  font-size: 19px;
  line-height: 10px;
}

.project-meta h4.icon{
  font-family: Cardenio Modern;
  font-weight: bold;
  font-size: 19px;
  line-height: 10px;
  margin-top: 10px;
}


.project-meta p{
  margin-bottom: 0;
}


 .liste-tutos{
  border-radius: 30px;
}

figcaption.tutos {
  font-size: 18px;
  font-weight: bold;
  }


.fiche {
  padding: 20px;
  margin-top:20px;
  border-radius: 20px;
}
.fiche h2 {
  font-family: Hey October;
  font-weight:400;
  padding: 15px;
  font-size: 70px;
  color: white;
  margin-top : -30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;

}


.fiche h3 {
  font-family: Cardenio Modern;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px;
  font-size: 30px
}

.fiche h4 {
  font-family: Cardenio Modern;
  font-weight: bold;
  padding: 15px;
  font-size: 22px
}

.color-Bricolage {
  background-color: #fef5ea;
}

.color-Recette {
  background-color: #f9ece4;
}

.color-Marmay {
  background-color: #f1eef5;
}

.color-Jardin {
  background-color: #f3f6ed;
}

.color-Mode {
  background-color: #f1eef5;
}



  .hide {
    display: none;
  }

  a:hover + .hide {
    display: block;
    z-index:1000;
    position: absolute;
  }

  