{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mb-1">
        {{if ne .Params.pdf ""}}<a href="{{ .Params.pdf | absURL }}" data-toggle="modal" data-target="#myModal">{{end}}
          <img src="{{ .Params.image | absURL }}" class="img-fluid w-100" alt="{{ .Title }}">
          {{if ne .Params.pdf ""}}</a>{{end}}
      </div>
      <div class="col-lg-7 mb-1 mb-lg-0 align-self-center">
        <div class="row mx-0">
          <div class="col-sm-6 mb-1">
            <div class="project-meta">
              <i class="ti-calendar"></i>
              <div class="ml-3">
                <h4>Date</h4>
                <p>{{ .Params.date_creation }}</p>
              </div>
            </div>
          </div>
          {{ with .Params.auteur}}
          <div class="col-sm-6 mb-1">
            <div class="project-meta">
              <i class="ti-user"></i>
              <div class="ml-3">
                <h4>Auteur</h4>
                <p>{{. | markdownify}}</p>
              </div>
            </div>
          </div>
          {{ end }}
          {{ with .Params.categories}}
          <div class="col-sm-6 mb-1">
            <div class="project-meta">
              <i class="ti-folder"></i>
              <div class="ml-3">
                <h4>Catégories</h4>
                <p>{{ range . }}
                  <a href="/categories/{{lower .}}">{{.}}</a>
                  {{end}}
                </p>
              </div>
            </div>
          </div>
          {{ end }}
          {{ with .Params.pdf}}
          <div class="col-sm-6 mb-1">
            <div class="project-meta">
              <i class="ti-link"></i>
              <div class="ml-3">
                <h4>Fiche PDF</h4>
                <p><a href="{{. | absURL}}" target="_blank">Télécharger</a></p>
              </div>
            </div>
          </div>
          {{ end }}
          {{ with .Params.difficulte}}
          <div class="col-sm-6 mb-1">
            <div class="project-meta">
              <i class="ti-star"></i>
              <div class="ml-3">
                <h4>Difficulté</h4>
                <p><img src="{{ site.BaseURL }}/images/icons/star{{.}}.png" width="120px"></p>
              </div>
            </div>
          </div>
          {{ end }}
          {{ with .Params.prix}}
          <div class="col-sm-6 mb-1">
            <div class="project-meta ">
              <img class="icon" src="/images/cout.png" width="50px">
              <div class="ml-4">
                <h4 class="icon">Prix</h4>
                <p>{{.}}</p>
              </div>
            </div>
          </div>
          {{ end }}
          {{ with .Params.temps}}
          <div class="col-sm-6 mb-1">
            <div class="project-meta">
              <i class="ti-timer"></i>
              <div class="ml-3">
                <h4>Temps de réalisation</h4>
                <p>{{.}}</p>
              </div>
            </div>
          </div>
          {{ end }}
          {{ with .Params.tags}}
          <div class="col-sm-6 mb-1">
            <div class="project-meta">
              <i class="ti-tag"></i>
              <div class="ml-3">
                <h4>Tags</h4>
                <p>{{ range . }}
                  <a href="/tags/{{. | urlize }}">#{{.}}</a>
                  {{end}}
                </p>
              </div>
            </div>
          </div>
          {{ end }}
          {{ with .Params.age_minimum}}
          <div class="col-sm-6 mb-1">
            <div class="project-meta">
              <i class="ti-user"></i>
              <div class="ml-3">
                <h4>Age minimum</h4>
                <p>{{ . }}</p>
              </div>
            </div>
          </div>
          {{ end }}
          {{ with .Params.dechets}}
          {{ if gt . 0}}
          <div class="col-sm-6 mb-1">
            <div class="project-meta">
              <i class="ti-trash"></i>
              <div class="ml-3">
                <h4>Déchets évités</h4>
                <p>{{ . }}kg</p>
              </div>
            </div>
          </div>
          {{ end }}
          {{ end }}
          {{ with .Params.tutos_en_lien}}
          <div class="col-sm-6 mb-1">
            <div class="project-meta">
              <i class="ti-user"></i>
              <div class="ml-3">
                <h4>Pré-requis</h4>
                <p>{{ range . }}
                  {{ with site.GetPage . }}
                  <a href="{{.Permalink}}" title="{{ .Params.title }}"><img src="{{ .Params.image | absURL }}"
                      width="55px"></a>&nbsp;
                  <span class="hide">{{ .Params.title }}</span>
                  {{ end }}
                  {{end}}
                </p>
              </div>
            </div>
          </div>
          {{ end }}
          {{ with .Params.contact}}
          <div class="col-sm-6 mb-1">
            <div class="project-meta">
              <i class="ti-comment-alt"></i>
              <div class="ml-3">
                <h4>Des questions ?</h4>
                <p><a href="https://chat.communecter.org/channel/{{ . }}">Tchat</a></p>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>

      <div class="row w-100">
        <div class="col-lg-12">
          <div class="container">


            <!-- Trigger the modal with a button -->
            <br>

            {{if ne .Params.pdf ""}}
            <div align="center">
              <button type="button" class="btn btn-info btn-lg bg-primary" data-toggle="modal"
                data-target="#myModal">Lire
                la fiche tuto illustrée </button>
            </div>
            {{end}}

            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                  </div>
                  <div class="modal-body">

                    <embed src="{{ .Params.pdf | absURL }}" frameborder="0" width="100%" height="600">

                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            {{ if ne .Content "" }}
              <div class="content fiche color-{{ index (.Params.categories) 0}}">
               <h3>{{ range .Params.categories }}
                  {{.}}
                  {{end}}</h3>
               <h2>{{ .Title }}</h2>
               {{.Content}}
            {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /portfolio -->

{{ end }}