{{ define "main" }}

  {{ partial "page-title.html" . }}

  <section class="section"> 
    <div class="container">
      <div class=" justify-content-center">
       
        {{.Content }}
      </div>
    </div>
  </section>

{{ end }}