{{ define "main" }}

  {{ partial "page-title.html" . }}


  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
 
        <div class="col-lg-9">
            {{.Content }}

            <p><h2>Gallerie photos</h2></p>




            {{ range .Params.gallerie_photo }}


              {{ $src :=  resources.Get . }}
              
              {{ if $src }}
              {{ if eq $src.ResourceType "image" }}
              {{ $small := $src.Fill "120x120" }}


              <a href="{{ $src.RelPermalink }}" >
                <img src="{{ $small.RelPermalink }}"  alt="image" />
              </a>

              
            {{end}}
            {{end}}
            {{end}}

          </div>
        </div>

      </div>
    </div>
  </section>

{{ end }}