{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row mb-4">
      <div class="col-12">
        <div class="btn-group btn-group-toggle justify-content-center d-flex flex-wrap" data-toggle="buttons">
          <label class="btn btn-sm btn-primary active">
            <input type="radio" name="shuffle-filter" value="all" checked="checked" />Tout
          </label>
					{{ $categories := slice }}
					{{ range .Site.Pages }}
					{{ range .Params.categories }}
					{{ $categories = $categories | append . }}
					{{ end }}
					{{ end }}
					{{ range ( $categories | uniq ) }}
          <label class="btn btn-sm btn-primary">
            <input type="radio" name="shuffle-filter" value="{{ . | urlize }}" />{{ . | humanize }}
            <br/><div align="center"><img src="images/icons/{{.}}.png" alt="{{.}}" width="50px"></div>
          </label>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {{ range where .Site.RegularPages.ByLastmod.Reverse "Section" "tutos" }}
      <div class="col-lg-3 col-6 mb-5 shuffle-item" data-groups="[{{range $index, $element:= .Params.categories }}{{if ne $index 0}},{{end}}&quot;{{. | urlize}}&quot;{{ end }}]">
        <div class="position-relative  hover-wrapper liste-tutos">
          <img src="{{.Params.image | absURL }} " alt="fiche-tuto" class="img-fluid  w-100 d-block ">
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" href="{{ .Permalink }}">Voir la fiche tuto</a>
            </div>
          </div>
        </div>
        <figcaption class="tutos" align="center">{{.Params.Title}}</figcaption>

      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /portfolio -->



{{ end }}