<!-- page title -->
<section class="page-title bg-primary position-relative overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        {{ if eq .IsHome true }}
        <h1 class="text-black font-tertiary">{{.Title}}</h1>
        {{ else }}
        <h2 class="text-black font-tertiary">{{.Title}}</h2>
        {{ end }}
        <h3 class="text-black font-secondary">{{site.Params.subtitle}}</h3>
      </div>
    </div>
  </div>
  <!-- background shapes -->
 
</section>

<!-- /page title -->
